<section id="boutiques">
	<article class='bieres'>
        <h2>{{beer.title}}</h2>
        <div><img src="{{beer.img}}" alt="{{beer.title}}"/></div>
        <p>{{beer.content}}</p>
        <p class="price">{{beer.price}}</p>
    </article>
</section>

