<article class='bieres col-4'>
    <h2>{{beer.title}}</h2>
    <div class="text-center">
        <img class="col-4" src="{{beer.img}}" alt="{{beer.title}}"/>
    </div>
    <p>{{beer.content}}</p>
    <p class="price">{{beer.pht}}</p>
</article>


